body {
    margin: 0;
    background-color: #0f172a;
    color: white;
}

@keyframes pop{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}

.bounce {
    animation: bounce 360ms ease;
}
.win{
    animation: pop 0.5s ease-in-out;
    animation-iteration-count: 10;
    transform-origin: left;
}

#winnerGif{
    position: relative;
    left: -300px;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        left: -300px;
        opacity: 0;
    }
    100% {
        left: 670px;
        opacity: 1;
    }
}

.showGif {
    animation: slideIn 1s forwards;
    margin-top: 5rem;
}

.styling {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

p{
    font-size: 1.5rem;
    text-align: center;
}

img{
    margin-bottom: -10rem;
}